@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/*-------------- variable ----------------*/

:root{
  --color-secondary:#fff;
  --color-terciary: #333;
}


/*----------------- mobile header --------------*/

.body{
  margin:0rem;
  padding: 0rem;
}

body, html{
  height: 100%;
  font-family: "poppins", sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0rem auto;
    color: var(--color-terciary);
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary);
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
  }
  nav .logo {
    font-weight: 100;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  nav a {
    text-decoration: none;
    color:var(--color-terciary);
  }
  nav #toggle,
  nav label {
    display: none;
  }
  
 .conteiner_header{
    display: flex;
    gap: 0.625rem;
 }


 h1{
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
}
  @media (max-width: 40.625em) {

    nav .menu {
      width: 100%;
      height: 0rem;
      overflow: hidden;
    }
    nav ul {
      flex-direction: column;
      align-items: center;
      padding: 0.0rem 0rem;
    }
    nav label {
      display: inline-flex;
      color: rgb(150, 132, 132);
      cursor: pointer;
    }

    nav #toggle:checked ~ .menu {
      height: 100%;
    }
    
}
.conteiner_header p{
  color: var(--color-terciary);
  font-size: 0.75rem;
}


/*----------------- page home ---------------*/

.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.homepage-text-welcome{
  padding: 1.25rem 0;
}

.homepage-text-welcome span{
  font-size: 5rem;
  color: var(--color-secondary);
  background-color: yellow;
  padding: 10px;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.25);
}


.homepage-text-name h1{
  font-size: 8rem;
  color: var(--color-terciary);
}

.homepage-text-info {
  font-size: 1rem;
}


/*---------------- scroll page main -----------------*/

.content{
  padding: 2rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(3.125rem);
  transition: opacity 0.6s ease, transform 0.6s ease;
  color: var(--color-terciary);
}

.content.visible {
  opacity: 1;
  transform: translateY(0);
}

/*------------------ About -------------------*/

content div h2 {
  font-size: 1.875rem;
  font-weight: 600;
}

.content-about-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.25rem;
}

.content-about-info div {
  width: 17rem;
  height: 15rem;
  margin: 0.625rem;
  padding: 2.5rem;
  text-align: center;
  max-width: 12.5rem;
  background-color: var(--color-terciary);
  border-radius: 0.625rem;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.25);

}
.content-about-info h3{
  color: var(--color-secondary);
}

.content-about-info p {
  margin-top: 0.625rem;
  color:var(--color-secondary);
}

/*----------------- button -----------------*/

.button-conteiner{
  display: flex;
  justify-content: end;
  flex-direction:column-reverse;
  padding: 0.625rem;
  gap: 0.4375rem;
}

.button-geral{
  font-family: 'Raleway', sans-serif;
  font-size: 0.625rem;
  padding: 0.625rem;
  background-color: var(--color-secondary);
  color: var(--color-terciary);
  border: 1px solid #fff;
  border-radius: 0.625rem;
  font-weight:600;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.459)
}

.button-geral:hover{
  background-color: #333;
  color: #fff;
  border: #333;
}

/*----------------- project ------------------*/

.content-project{
  display: flex;
  flex-wrap: wrap;
}


.project-img img{
  width: 50%;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
}

.project-img span{
  font-weight: 900;
  font-size: 1.25rem;
}



/*------------------ contact------------------*/

.contato{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to left top, #343434, #343434, #343434, #333333, #333333);
  border-radius: 0.625rem;
  height: 100%;
}

.contato-email{
  width: 17rem;
  height: 15rem;
  margin: 0.625rem;
  padding: 2.5rem;
  text-align: center;
  max-width: 12.5rem;
  height: 9.375rem;
  border-right: 0.0625rem solid rgb(255, 255, 255);
}

.contato-qrcode{
  width: 17rem;
  height: 15rem;
  margin: 0.625rem;
  padding: 2.5rem;
  text-align: center;
  max-width: 12.5rem;
}

.contato p {
  color: var(--color-secondary);
  font-size: 15px;
}

.contato-img{
  width: 9.375rem;
  border-radius: 0-625rem;
}

.contato-img-email{
  width: 10rem;
}


/*------------------ footer ------------------*/

footer{
  font-size: 0.9375rem;
  background-color: var(--color-secondary);
  color: var(--color-terciary);
  padding: 2rem 0;
  text-align: center;
  width: 100%;
  bottom: 0;
}

footer div p{
  color: var(--color-primary);
}

.footer-social-midia{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.625rem;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* Responsividade */

@media (max-width: 48rem) {
    header {
      padding: 0.5rem 0;
    }

    main {
      padding: 0.5rem;
    }

    .content {
      padding: 1rem;
      margin-bottom: 1rem;
    }

    button{
      border: none;
    }
    

    .homepage-text-welcome span{
      font-size: 5rem;
      background-color:yellow;
      color: var(--color-secondary);
      padding: 0.375rem;
    }

    .homepage-text-name h1{
      font-size: 6rem;
    }

    .content-about-info div{
      width: 100%;
      height: 100%;
      margin: 0.625rem;
      padding: 2.5rem;
      text-align: center;
      max-width: 100%;
      background-color: var(--color-terciary);
      border-radius: 1.25rem;
      box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.25);  
    }

    .project-img img{
      width: 100%;
      box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.25);
      border-radius: 1.25rem;
    }

    .contato-email{
      width: 17rem;
      height: 15rem;
      margin: 0.625rem;
      padding: 2.5rem;
      text-align: center;
      max-width: 12.5rem;
      border-right: none;
      height: 150px;
    }
    
}

@media (max-width: 30rem) {
    header {
      font-size: 1rem;
    }

    .content {
      padding: 0.5rem;
    }

    button{
      border: none;
    }
    .homepage-text-welcome span{
      font-size: 2.50rem;
      background-color:yellow;
      color: var(--color-secondary);
      border-radius: 0.625rem;
      padding: 0.25rem;
    }

    .homepage-text-name h1{
      font-size: 3.50rem;
    }

    .content-about-info div{
      width: 100%;
      height: 100%;
    }

    .project-img img{
      width: 100%;
      box-shadow: 0rem 0.125rem 0.3125rem 0rem rgba(0, 0, 0, 0.25);
      border-radius: 1.25rem;
    }

    .contato-email{
      width: 17rem;
      height: 15rem;
      margin: 0.625rem;
      padding: 2.5rem;
      text-align: center;
      max-width: 12.5rem;
      border-right: none;
      width: 300px;
    }

    footer{
      width: 100%;
    }
}
